@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
.font-luxury {
  font-family: 'Cormorant Garamond', serif;
}