---
import '../styles/global.css';
import 'aos/dist/aos.css';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import WhyChoose from '../components/WhyChoose.astro';
import Team from '../components/Team.astro';
import Gallery from '../components/Gallery.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
import FloatingWhatsApp from '../components/FloatingWhatsApp.astro';
import Footer from '../components/Footer.astro';
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana's Beauty Shop</title>
  </head>

 <body>
  <Header />
  <Hero />
  <About />
  <Services />
  <WhyChoose />
  <Team />
  <Gallery />
  <Testimonials />
  <CTA />
  <Footer />
  <FloatingWhatsApp />

  <script>
    import AOS from 'aos';

    AOS.init({
      duration: 1000,
      once: true,
    });
  </script>
</body>
</html>